<div id="<%= dom_id student %>">
  <p>
    <strong>Nome:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Matrícula:</strong>
    <%= student.register %>
  </p>

  <!-- <p>
    <strong>Telefone:</strong>
    <%= student.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.mail %>
  </p>

  <p>
    <strong>Email UFF:</strong>
    <%= student.uffmail %>
  </p> -->

  <!-- <p>
    <strong>Active:</strong>
    <%= student.active %>
  </p> -->

</div>
